html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  /* background-color: #ffffff; */
  /*вернуть фон после макросетки*/
  font-size: 16px;
  line-height: 24px;
}

body>* {
  background: rgba(255, 0, 0, 0.5);
}

body>*>* {
  background: rgba(225, 235, 223, 0.3);
}

/*
body>*>*>* {
  background: rgba(44, 176, 21, 0.3);
} */
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  /* margin-bottom: 18px; */
  padding-top: 50px;
}

.main-header,
.features,
.head-name {
  background-color: #eeeeee;
}

/*вернуть фон после завершения разметки макросетки*/
.container-center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*---------------Навигация по сайту (меню) header-------------*/
.main-navigation {
  display: flex;
  align-items: flex-start;
  line-height: 30px;
}

.main-header-logo {
  width: 170px;
  height: 75px;
  padding-left: 20px;
}

.site-navigation,
.order {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  width: 440px;
  margin-left: 202px;
  margin-top: 25px;
}

.menu-clients,
.menu-shop,
.menu-contacts {
  margin-left: 50px;
}

.order {
  width: 116px;
  margin-left: auto;
  margin-top: 25px;
}

.site-navigation a,
.order a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.order a:hover,
.order a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.order a:active {
  color: #a6a6a6;
}

/*бокс со СЛАЙДАМИ*/
.features {
  width: 1440px;
  height: 544px;
  background-color: #888888;
  padding-left: 120px;
  margin-bottom: 80px;
}

/*------------------------Услуги компании------------------*/
.services {
  margin-bottom: 80px;
}

.service-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 300px;
}

.service-list .service-item:nth-child(2),
.service-list .service-item:nth-child(3) {
  margin-left: 100px;
}

.service-item:nth-child(3) {
  margin-right: 60px;
}

.service-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.service-item-slogan {
  color: #283136;
}

.button {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

/*---------------------------Описание компании----------------*/
.description-company {
  display: flex;
  margin-bottom: 70px;
}

.wrapper-about {
  width: 660px;
  height: 450px;
}

.our-progress {
  width: 360px;
  margin-left: auto;
}

.principle-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.principle-explain {
  color: #283136;
}

.progress-slogan {
  margin-bottom: 45px;
}

.ability-title {
  font-weight: 700;
  text-transform: uppercase;
}

.ability-list {
  color: #283136;
}

.progress-slogan {
  font-weight: 700;
  text-transform: uppercase;
}

.procent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
}

.value {
  line-height: 18px;
  color: #283136;
}

/*------------------------Партнеры компании--------------*/
.partners {
  padding-bottom: 45px;
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners-list li:nth-child(2) {
  margin-left: 96px;
}

.partners-list li:nth-child(3) {
  margin-left: 103px;
}

.partners-list li:nth-child(4) {
  margin-left: 121px;
}

/*отсюда начинается разметка страницы каталога*/
.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  margin: 0;
  margin-bottom: 117px;
  padding: 0;
  padding-top: 80px;
}

/*не понимаю, как растянуть серый фон как у
main-navigation еще и на часть container*/
/*--------фильтр-----------*/
.catalog-cover-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 280px;
  /* margin-bottom: 1383px; */
  /*пробовал сделать отступ от фильтра до карты, как обсуждали
  на консультации, но не очень понимаю как можно его сделать от flex-элемента,
  у которого задана только ширина*/
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
}

.filter-cover:hover,
.filter-cover:focus {
  color: #283136;
}

.filter-cover:disabled {
  color: #283136;
  opacity: 0.3;
}

.filter-button {
  color: #000000;
  background-color: #eeeeee;
}

/*в макете у этой кнопки в сотоянии покоя стили совпадают со стилями для всех остальных кнопок, а вот фон будет свой, т.е. правилоп онадобится для дальнейшей стилизации */
.filter-button:hover,
.filter-button:focus {
  color: #000000;
}

.filter-button:active {
  opacity: 0.3;
}

/*----------------карточки товаров------------*/
.catalog {
  width: 760px;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item-topic a {
  color: #000000;
}

.description-catalog-item .catalog-item-topic {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.description-catalog-item {
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  display: flex;
  padding: 0;
  padding-bottom: 60px;
  margin: 0;
  list-style: none;
}

.pagination-list li {
  width: 48px;
}

/*здесь завершается разметка страницы каталога*/
/*----------------footer сайта (Контакты)--------------*/
.location {
  width: 1440px;
  height: 416px;
  background-color: #888888;
}

.contact-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts {
  line-height: 18px;
  color: #666666;
}

.contact-phone a {
  color: #666666;
}

.button-connect {
  color: #666666;
}

.popup {
  display: none;
}

.social-connection {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 257px;
  height: 80px;
  background-color: #f5f5f5;
}

.for-friends {
  width: 563px;
  margin-left: 140px;
}

.social-button {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.friendship {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.discont {
  line-height: 22px;
  color: #444444;
}
