body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.main-header,
.features {
  background-color: #eeeeee;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
}

.site-navigation,
.order {
  list-style: none;
}

.site-navigation a,
.order a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.order a:hover,
.order a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.order a:active {
  color: #a6a6a6;
}

/* .features-slide /*разметить блок со слайдами*/
.service-list {
  list-style: none;
}

.service-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.service-item-slogan {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  /* color: #ffffff; */
  /*раскомментировать цвет для надписей на кнопках*/
}

.principle-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.principle-explain {
  color: #283136;
}

.ability-title {
  font-weight: 700;
  text-transform: uppercase;
}

.ability-list {
  color: #283136;
}

.progress-slogan {
  font-weight: 700;
  text-transform: uppercase;
}

.procent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  }
/*после округления процент стал наползать на подпись*/
/*возможно тут td и не нужен, без него тоже работает*/
.value {
  line-height: 18px;
  color: #283136;
}

.partners ul {
  list-style: none;
}

/*отсюда начинается разметка страницы каталога*/
.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
}

.filter-cover:hover,
.filter-cover:focus {
  color: #283136;
}

.filter-cover:disabled {
  color: #283136;
  opacity: 0.3;
}

.filter-button {
  color: #000000;
}

/*в макете у этой кнопки в сотоянии покоя стили совпадают со стилями для всех остальных кнопок, а вот фон будет свой, т.е. правилоп онадобится для дальнейшей стилизации */
.filter-button:hover,
.filter-button:focus {
  color: #000000;
}

.filter-button:active {
  opacity: 0.3;
}

.catalog-list {
  list-style: none;
}

.catalog-item-topic a {
  color: #000000;
}

.description-catalog-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.description-catalog-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.button-price {
  color: #ffffff;
}

/*здесь завершается разметка страницы каталога*/
.contact-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contact-address,
.contact-phone a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

/*а могу ли я не создавать целое перавило ради изменеия
одного свойства, а просто добавить его в предыдущее. Т.е. text-decoration будет
применятся к содержимому тега, к которому его применять нет нужды (с классом.contact-addres), но
зато он срабоатет для тега со вторым классом */
.contact-phone a {
  text-decoration: none;
}

.connect-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #666666;
}

.popup {
  display: none;
}

.social-button {
  display: inline-block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.friendship {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.discont {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}
